<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvBcIDt3EW-Eb7LoIzpQWYE4GczY4O3zI</string>
	<key>GCM_SENDER_ID</key>
	<string>468546591828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireLeader</string>
	<key>PROJECT_ID</key>
	<string>first-app-31127</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-31127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468546591828:ios:64c9a37fa0c3874a3da1c1</string>
</dict>
</plist>